header {
    padding: 10px;
    /*Com tenim dins floats. Això ens va bé per obligar a que els elements interns estiguin dins aquest contenidor.*/
    overflow: hidden;
    background-image: url("https://raw.githubusercontent.com/victoriapenasmiro/LLM/master/Practica%20gestioHotels/images/cabecera-foto.jpg");
    background-size: cover;
    background-position-y: 60%;
    height: 200px;
}

body {
    font-family: 'Comfortaa', cursive;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

.fondoCaja {
    border: 1px solid #ddd8cd;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(179, 167, 143, 1) 100%);
    width: fit-content;
    padding: 2%;
    margin: 0 auto;
}

.fondoCaja h3 {
    background: #dbb354;
    padding: 20px;
    margin: 0;
}

fieldset {
    margin-top: 30px !important;
}

fieldset legend {
    font-weight: 600;
    font-size: 18px;
}

aside {
    float: left;
    width: 300px;
    background: rgb(217, 210, 198);
}

aside h2 {
    text-align: center;
}

aside img {
    margin-top: 10px;
}

main {
    padding: 10px;
    float: left;
    width: 1080px;
}

footer {
    clear: left;
    background-color: #c8beb445;
    font-size: 14px;
    height: 80px;
    padding-left: 5%;
    padding-right: 15%;
}

footer div img {
    width: 30px;
}

input {
    outline: none;
    /*elimino los estilos por defecto del navegador*/
}

button {
    margin-left: 10px;
    background-color: #f0edeb;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 3px;
    border-color: #ddd8cd;
    outline: none;
}

button:hover {
    color: black;
    border-color: currentColor;
    background-color: white;
}

/*botón cesta de compra*/
#continuar {
    float: right;
    margin-top: 15px;
}

#cerca {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

input,
textarea {
    width: 30px;
}

#JsonText {
    margin: 10px;
}

#modificar {
    display: none;
}

.elementHabitacio {
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

#logoWeb {
    float: left;
    padding-left: 5%;
}

#titolPrinc {
    float: left;
    width: 72%;
}

#headerOptions {
    float: right;
}

#headerOptions a {
    margin-left: 20px;
    color: white;
    font-weight: 600;
}

#logoWeb img {
    width: 100px;
}

nav {
    padding: 25px;
    background-color: #c8beb445;
    text-align: center;
}

nav a {
    margin: 10px;
    text-transform: uppercase;
    color: black;
}

#navbar a:hover {
    background-color: rgb(217, 210, 198);
    font-weight: 600;
    padding:30px;
}

#navbar {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0edeb;
    color: white;
}

#cercador div {
    display: contents;
}

.mesInfo {
    display: none;
    clear: both;
    padding: 30px;
    background: #f0edeb;
    border: 1px solid #d9d2c6;
    width: 882px;
    overflow: auto;
}

#mesInfoDesc{
    width: 600px;
    padding-left: 3%;
    float: left;
}

#mesInfoDesc hr{
    width: 70px;
    margin:0px;
}

.mesInfo .imgMiniHab {
    float: left;
}

#titolPrincmesInfo{
    margin-top: 0px;
    float: left;
}

.informacioExtesa{
    color: #dca42a;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    margin-top: 0px;
}

#fotosHab{
    background-color: #dca42a;
    font-family: 'Indie Flower', cursive;
    clear: both;
    overflow: hidden;
    padding: 2%;
}

#fotosHab h3{
    margin-top: 0px;
}

#fotosHab div{
    width: 650px;
    margin: 0 auto;
}

#fotosHab img{
    margin-right: 2%;
}

.imgMiniHab {
    width: 250px;
    height: 207px;
}

#notrobat{
    display: none;
    text-align: center;
}

#alquilaCoche {
    background-image: url("https://raw.githubusercontent.com/victoriapenasmiro/LLM/master/Practica%20gestioHotels/images/alquiler-coche.jpg");
    height: 200px;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-align: center;
}

#alquilaCoche a {
    color: #ffffff;
}

.habitacio {
    overflow: hidden;
    margin-top: 30px;
}

.imatgeHab,
.infoHab,
.preuHab {
    float: left;
    overflow: hidden;
}

.imatgeHab {
    width: 250px;
    height: 207px;
}

.infoHab {
    width: 500px;
    height: 185px;
    padding: 10px;
    border: 1px solid lightgray;
}

.preuHab {
    width: 150px;
    padding: 10px;
    border: 1px solid lightgray;
    height: 185px;
    font-weight: 600;
    background: #d9d2c6;
}

.titolHotel {
    margin: 0px;
    float: left;
    padding-bottom: 10px;
}

.hotelDescripcio {
    clear: both;
    padding-bottom: 5px;
}

.estrelles {
    margin: 2px 0 0 10px;
    float: left
}

.seleccionar {
    text-align: right;
    margin: 10px;
    padding-top: 10px;
    clear: both;
}

#preu {
    overflow: hidden;
    display: none;
    clear: both;
    margin-right: 6%;
}

#resultats {
    float: left;
    margin-bottom: 20px;
    margin-left: 6%;
}