body{
    font-family: sans-serif;
    margin: 0px;
}

main, aside {
    padding: 10px;
}

footer {
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 14px;
}

input, textarea {
    font-size: 14px;
}

li{margin-bottom:10px;}